<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated bedriftshelsetjenesten -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="BedriftshelsetjenesteGodkjenningsregister.presentation.BedriftshelsetjenestenModelWizardID"
            name="%_UI_BedriftshelsetjenestenModelWizard_label"
            class="BedriftshelsetjenesteGodkjenningsregister.presentation.BedriftshelsetjenestenModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/BedriftshelsetjenestenModelFile.gif">
         <description>%_UI_BedriftshelsetjenestenModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated bedriftshelsetjenesten -->
      <editor
            id="BedriftshelsetjenesteGodkjenningsregister.presentation.BedriftshelsetjenestenEditorID"
            name="%_UI_BedriftshelsetjenestenEditor_label"
            icon="icons/full/obj16/BedriftshelsetjenestenModelFile.gif"
            extensions="bedriftshelsetjenesten"
            class="BedriftshelsetjenesteGodkjenningsregister.presentation.BedriftshelsetjenestenEditor"
            contributorClass="BedriftshelsetjenesteGodkjenningsregister.presentation.BedriftshelsetjenestenActionBarContributor">
      </editor>
   </extension>

</plugin>
