<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated bht2 -->
      <package
            uri="http://www.example.org/bedriftshelsetjenesten"
            class="bedriftshelsetjenesten.Bht2Package"
            genModel="model/bht2.genmodel"/>
   </extension>

</plugin>
