<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="org.example.bedriftshelsetjenesten.design.Activator"
               id="org.example.bedriftshelsetjenesten.design"
	       name="bedriftshelsetjenesten">
    </component>
  </extension>
</plugin>
