<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated bht -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="bedriftshelsetjenesten.presentation.BhtModelWizardID"
            name="%_UI_BhtModelWizard_label"
            class="bedriftshelsetjenesten.presentation.BhtModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/BhtModelFile.gif">
         <description>%_UI_BhtModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated bht -->
      <editor
            id="bedriftshelsetjenesten.presentation.BhtEditorID"
            name="%_UI_BhtEditor_label"
            icon="icons/full/obj16/BhtModelFile.gif"
            extensions="bht"
            class="bedriftshelsetjenesten.presentation.BhtEditor"
            contributorClass="bedriftshelsetjenesten.presentation.BhtActionBarContributor">
      </editor>
   </extension>
</plugin>
