<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated bht -->
      <package
            uri="http://www.example.org/bedriftshelsetjenesten"
            class="BedriftshelsetjenesteGodkjenningsregister.BhtPackage"
            genModel="model/bht.genmodel"/>
   </extension>

</plugin>
